<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993350191694-o0ssv5l1fhprsb7kf7prsgl4e6tlojej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993350191694-o0ssv5l1fhprsb7kf7prsgl4e6tlojej</string>
	<key>API_KEY</key>
	<string>AIzaSyCu_QdiY6vz5JPDwNpVWMk-xcIwil05fJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>993350191694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulnihaluykun.motivapp</string>
	<key>PROJECT_ID</key>
	<string>motivasyon-2baa8</string>
	<key>STORAGE_BUCKET</key>
	<string>motivasyon-2baa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993350191694:ios:53a04b5b96c57aa718511f</string>
</dict>
</plist>